.jumbotron
  .text-center
    - if user_signed_in?
      = link_to 'Githubアカウントを連携', '/auth/github', class: 'btn btn-primary btn-lg'
    - else
      = link_to 'Remottyでログイン', signin_path, class: 'btn btn-primary btn-lg'
